.main {
    min-height: 100vh;
    background: #FEFAEF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dNone {
    display: none !important;
}

.progress {
    border-radius: 0 !important;
}

.progress-bar {
    border-radius: 0 5px 5px 0;
}

.contentCard {
    width: 50rem;
}

.quizAnswerCard {
    cursor: pointer;
}

.quizAnswerCard:hover {
    filter: brightness(0.98);
}

.bg-success,
.bg-danger {
    color: white !important;
}

#resultsCard>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultBrain {
    width: 128px;
}

.resultLine {
    display: flex;
    justify-content: center;
    gap: 32px;
    font-weight: bold;
}

.yourScore {
    color: orange;
}

.trophy {
    width: 100px;
}