.main {
    min-height: 100vh;
    background: #FEFAEF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizCard {
    width: 50rem;
}

.quizAnswerCard {
    cursor: pointer;
}

.quizAnswerCard:hover {
    filter: brightness(0.98);
}

.bg-success,
.bg-danger {
    color: white !important;
}