:root {
    --anthraciteBlue: #27355C;
    --navPadding: 32px;
}

.main {
    min-height: 100vh;
    background: #FEFAEF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dNone {
    display: none !important;
}

.progress {
    border-radius: 0 !important;
}

.progress-bar {
    border-radius: 0 5px 5px 0;
    background-color: var(--anthraciteBlue) !important;
}

.card {
    border-style: none !important;
}

.contentCard {
    width: 50rem;
    height: 25rem !important;
    flex-direction: row !important;
}

.contentCard>.card-body {
    background: #F7F7F7;
}

.card-header {
    border-style: none !important;
    background: var(--anthraciteBlue) !important;
    background-image: url(/img/logo.png) !important;
    background-repeat: no-repeat !important;
    background-size: calc(100% - 2*var(--navPadding)) !important;
    background-position: var(--navPadding) calc(var(--navPadding)/2) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding: 0 !important;
}

.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) 0 0 var(--bs-card-inner-border-radius) !important;
}

nav>a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding-left: calc(var(--navPadding) - 4px);
    padding-right: calc(var(--navPadding)*3/2);
    border-left: solid 4px;
    border-color: rgba(0,0,0,0);
}

nav>a:hover {
    color: #F4F4F4;
}

.dialogueBg {
    background-color: rgba(0,0,0,0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogue {
    height: 50vh;
    width: 50vw;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 24px;
}

#screen1,
#screen2 {
    background: url(./img/brainbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quizAnswerCard {
    cursor: pointer;
    border-radius: 0 !important;
}

.quizAnswerCard:hover {
    filter: brightness(0.99);
}

.quizAnswerCardDisabled {
    cursor: default !important;
}

.quizAnswerCard>.card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.answerLetter {
    font-weight: bold;
    color: black;
    width: 2em;
    height: 2em;
    background: #D4D4D4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-success,
.bg-danger {
    color: white !important;
}

.quizCardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter {
    margin-top: auto;
    margin-bottom: auto;
}

#screen4>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultBrain {
    width: 128px;
}

.resultLine {
    display: flex;
    justify-content: center;
    gap: 32px;
    font-weight: bold;
}

.yourScore {
    color: orange;
}

#trophy {
    width: 100px;
    right: 0;
    position: fixed;
    top: calc(50vh - 100px);
}